<% @properties.each do |property| %>

<div class="row">
  <div class="col-sm-2">
    <%= image_tag(property.image.thumb.url, class: "property-image") %>
  </div>
  <div class="col-sm-6">
    <%= link_to(property) do %>
      <h1 class="property-name"><%= property.name %></h1>
    <% end %>
    <p class="property-details"><%= property.property_type.humanize %> - Sleeps <%= property.capacity %>
    <br><%= property.address %> <%= property.city %></p>
  </div>
  <div class="col-sm-4">
    <h1 class="property-price">$ <%= property.price %></h1>
    <p class="per-night">per night</p>
  </div>
</div>
<% end %>

<% link_to @properties %>