<div class="row">
  <div class="col-sm-2">
    <%= image_tag(@property.image.thumb.url, class: "property-image") %>
  </div>
  <div class="col-sm-6">
    <%= link_to(@property) do %>
      <h1 class="property-name"><%= @property.name %></h1>
    <% end %>
    <p class="property-details"><%= @property.property_type.humanize %> - Sleeps <%= @property.capacity %>
    <br><%= @property.address %> <%= @property.city %></p>
  </div>
  <div class="col-sm-4">
    <h1 class="property-price">$ <%= @property.price %></h1>
    <p class="per-night">per night</p>
  </div>
</div>

<% if @property.user_id != current_user.id %>
  <%= form_for [@property, @booking] do |f| %>
    <div>
      <%= f.label :start_date %> *<br>
      <%= f.text_field :start_date, required: true, id: "start_date_datepicker" %>
    </div>
    <div>
      <%= f.label :end_date %> *<br>
      <%= f.text_field :end_date, required: true, id: "end_date_datepicker" %>
    </div>

    <%= f.submit "Make Booking"%>
  <% end %>
<% else %>
  <%= link_to "Edit Property", edit_property_path %>
<% end %>
