<!DOCTYPE html>
<html>
  <head>
    <title>BedNBlockchain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><%= link_to "BedNBlockchain", root_path %></h1>
        </div>


        <div class="col-md-6">
          <% if logged_in? %>

            <a href="/dashboard">My Dashboard</a>
          <% else %>
            <%= link_to "Login", login_path %>
          <% end %>
        </div>
      </div>

    <%= yield %>
    </div>
  </body>
</html>
